.user-drag{
    -webkit-user-drag: none
}

.quit_link_margin{
    margin: 5px;
}

#quit_link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#quit_link button{
    border: 0px;
    background-color: white;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

#logo{
    -webkit-user-drag: none;
    width: 300px;
    margin-bottom: 38px;
}

a{
    cursor: pointer;
}

input{
    padding: 1px 44px 1px 52px;
    width: 561px;
    height: 44px;
    border-radius: 22px;
    border: 1px solid #5f6368;
    font-size: inherit;
    caret-color: #5f6368
}

button{
    cursor: pointer;
}

#input{
    display: flex;
    align-items: center;
}

#input img{
    height: 17px;
}

#magnifier_icon{
    position: relative;
    left: 38px;
}

#Voice_input_icon{
    position: relative;
    right: 38px;
    border: 0px;
    background-color: white;
}

html{
    height: 100%;
}